<h1>Add a new User!</h1>
<br />

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h3><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h3>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br />
	<br />
	<%= f.label :email %>
	<%= f.text_field :email %>
	<br />
	<br />
	<%= f.submit %>
<% end %>
